<% form_for @ingredient do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :references %><br />
    <%= f.text_field :references %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :amount_unit %><br />
    <%= f.text_field :amount_unit %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
