<% title "Ingredients" %>

<table>
  <tr>
    <th>References</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Amount Unit</th>
  </tr>
  <% for ingredient in @ingredients %>
    <tr>
      <td><%=h ingredient.references %></td>
      <td><%=h ingredient.name %></td>
      <td><%=h ingredient.amount %></td>
      <td><%=h ingredient.amount_unit %></td>
      <td><%= link_to "Show", ingredient %></td>
      <td><%= link_to "Edit", edit_ingredient_path(ingredient) %></td>
      <td><%= link_to "Destroy", ingredient, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ingredient", new_ingredient_path %></p>
