<% title "Ingredient" %>

<p>
  <strong>References:</strong>
  <%=h @ingredient.references %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @ingredient.name %>
</p>
<p>
  <strong>Amount:</strong>
  <%=h @ingredient.amount %>
</p>
<p>
  <strong>Amount Unit:</strong>
  <%=h @ingredient.amount_unit %>
</p>

<p>
  <%= link_to "Edit", edit_ingredient_path(@ingredient) %> |
  <%= link_to "Destroy", @ingredient, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ingredients_path %>
</p>
